(load "~/.emacs.d/my-noexternals.el" nil t)

(setq inhibit-startup-echo-area-message "smeisburger")
; (setq ispell-program-name "aspell")
; (setq ispell-list-command "--list")

(load "~/.emacs.d/my-loadpackages.el" nil t)
